@import '../../src/style/var';
.cn-dropdown {
  >.content {
    line-height: 40px;
    border: 1px solid #aaa;
    width: 200px;
    height: 40px;
    display: block;
    border-radius: 5px;
    text-indent: 0.4em;
  }
}
.cn-dropdown-menu {
  width: 200px;
  max-width: 200px;
  min-width: 150px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-indent: 0.4em;
}
.dropdown-list-item {
  position: relative;
  line-height: 30px;
  border-bottom: 1px solid #eeeeee;
}
.dropdown-list-item.opened {
  background: lightblue;
}
.dropdown-list-item:last-child {
  border-bottom: 0;
}
.dropdown-list-item:hover {
  background-color: #eaedb7;
}

.cn-dropdown-menu-sub {
  position: absolute;
  max-height: 200px;
  left: 100%;
  top: 0;
}
